<h1>Deleting Book</h1>
<h2> Are you sure you want to delete: </h1>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Published date:</strong>
  <%= @book.published_date %>
</p>

<%= link_to 'Delete', @book, method: :delete %> | 
<%= link_to 'Back', books_path %> | 
<%= link_to 'Home', books_path %>
